body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  padding: 1.5em 7vw 0 0;
  display: flex;
  list-style: none;
  justify-content: right;
}

.navList > li {
  padding: 13px;
  align-items: center;
  color: #e88615;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.navList > li:hover {
  color: white;
}

.xenotechIcon {
  width: 67px;
  margin-left: 9vw;
  margin-top: 1vw;
  position: relative;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.xenotechIcon:hover {
  transform: scale(1.1);
}

.xenotechLogo {
  display: flex;
  justify-content: center;
}

.xenotechLogo > a > img {
  width: 300px;
  margin-top: 8vh;
  transition: all 0.5s ease-in-out;
}

html {
  background-color: black;
}

h1 {
  color: #e88615;
  text-align: center;
  margin: 0%;
}

p {
  padding: 0%;
  margin: 0;
  color: white;
  font-size: 28px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: orange;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}

.footer {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  margin-top: 8vh;
  color: white;
}

.footer > nav > ul {
  list-style: none;
  padding: 0.2px;
}
.footer > nav > ul > li {
  padding: 4px;
}

.landingPage {
  display: grid;
  justify-content: center;
  font-size: 47px;
}

.landingPageVideos {
  display: flex;
  justify-content: center;
  width: 80%;
}

.landingPageVideos > video {
  padding: 2vw;
  width: 300px;
  margin-bottom: 200px;
}

.landingPageCenterVideo {
  min-width: 400px !important;
}

.videosContainer {
  display: flex;
  justify-content: center;
}

.cryptovoxelsVideo {
  width: 100%;
  height: 100%;
}

.metaverseLocationH1 {
  position: absolute;
  top: 110vh;
  left: 2vw;
  font-size: 80px;
}

.metaverseLocationP {
  position: absolute;
  top: 117vh;
  left: 2vw;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.jumpInButton {
  position: absolute;
  top: 130vh;
  left: 4%;
  border-radius: 15px;
  width: 200px;
  height: 70px;
  background-color: black;
  border: 2px solid #e88615;
  color: #e88615;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.jumpInButton:hover {
  background-color: #e88615;
  color: black;
}

.socialMediaIconsContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 30%;
  margin-right: 30px;
  width: 100px;
}

.socialMediaIconsContainer > a {
  display: flex;
  flex-direction: column;
  width: 30px;
  padding-top: 30px;
  transition: all 2s ease-in-out;
}

.socialMediaIconsContainer > a > img:hover {
  transform: scale(1.2);
}

.miniSocialMediaContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
}

.miniSocialMediaContainer > a {
  display: flex;
  flex-direction: column;
  width: 30px;
  padding-top: 10px;
}

.miniSocialMediaContainer > a > img {
  transition: all 0.1s ease-in-out;
}
.miniSocialMediaContainer > a > img:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 1200px) {
  .landingPageVideos {
    display: flex;
    flex-direction: row;
    align-items: center;

    grid-template-columns: 1fr;
    padding: 1vw;
    margin-bottom: none;
    width: 100%;
  }

  .landingPageVideos > video {
    margin-bottom: 100px;
  }
  .landingPageCenterVideo {
    display: none;
  }

  .cryptovoxelsVideo {
    width: 100%;
    height: 100%;
  }

  .socialMediaIconsContainer {
    display: none;
  }

  .metaverseLocationText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .metaverseLocationH1 {
    position: relative;
    top: 0%;
    left: 0;
  }

  .metaverseLocationP {
    position: relative;

    top: 0%;
    left: 0;
    inline-size: 70%;
  }

  .jumpInButton {
    position: relative;
    top: 0;
    left: 0;
  }

  h1 {
    font-size: 180%;
  }

  .landingPageText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landingPageText > p {
    inline-size: 70%;
    padding: 0%;
  }
}

@media only screen and (max-width: 720px) {
  .landingPageVideos {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    padding: 1vw;
    margin-bottom: none;
    width: 100%;
  }

  .landingPageVideos > video {
    padding: 2vw;
    width: 400px;
    margin-bottom: 10px;
  }

  .landingPageCenterVideo {
    display: block;
  }
}
